.pagination
  display: flex
  align-items: center
  justify-content: center
  gap: 15px
  margin: 40px 0
  min-height: 50px

.pagesGrid
  display: grid
  grid-auto-flow: column
  grid-auto-columns: 44px 
  gap: 6px
  justify-content: center

.slot
  width: 44px
  height: 44px
  display: flex
  justify-content: center
  align-items: center

.btn, .dots
  display: flex
  align-items: center
  justify-content: center
  width: 42px
  height: 42px
  border-radius: 50%
  background-color: #00ff73
  color: white
  font-weight: 600
  text-decoration: none
  transition: 0.2s

.active
  background-color: #00a651

.navSlot
  width: 75px
  display: flex
  justify-content: center
  &.invisible
    visibility: hidden

.navBtn
  width: 70px
  height: 42px
  background-color: #00ff73
  color: white
  border-radius: 25px
  display: flex
  align-items: center
  justify-content: center
  text-decoration: none