.ordersTable
  width: 100%
  table-layout: fixed
  border-collapse: collapse

  th, td
    font-size: 0.8rem
    padding: 10px
    border: 1px solid #ddd
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

  th:nth-child(1) // ID
    width: 40px
    text-align: center

  th:nth-child(2) // Name
    width: 80px

  th:nth-child(3) // Surname
    width: 100px

  th:nth-child(4) // Email
    width: 170px

  th:nth-child(5) // Phone
    width: 80px

  th:nth-child(6) // Age
    width: 30px

  th:nth-child(7) // Course
    width: 50px

  th:nth-child(8) // Course format
    width: 80px

  th:nth-child(9) // Course type
    width: 70px

  th:nth-child(10) // Status
    width: 60px

  th:nth-child(11) // Sum
    width: 60px

  th:nth-child(12) // Already paid
    width: 80px

  th:nth-child(13) // Group
    width: 80px

  th:nth-child(14) // Created at
    width: 80px

  th:nth-child(15) // Manager
    width: 100px
